.products-content {
  padding: 14rem 0;
  grid-column: center-start / col-end 7;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  /* align-items: start; */
  gap: 3rem;
}
