.signup {
  grid-column: center-start / center-end;
  min-height: calc(100vh - 8rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  font-size: 1.7rem;
  color: red;
  margin-left: 10px;
  line-height: 1.2;
}
