.form-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  margin-bottom: 20px;
}

.form-input label {
  color: #2a414f;
}

.box-input {
  padding: 15px 10px;
  border: none;
  border-radius: 5px;
  border: 1px solid #95a0a7;
  font-size: inherit;
}

.box-input:focus {
  outline: 0;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
